{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
  <h1 class="my-5">{{ article.pk }}번 게시글</h1>
  <a href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.username }}</a>
  <p>{{ article.title }}
  </p>
  <p>{{ article.content }}
  </p>
  {% if request.user.is_authenticated %}
    {% if request.user in article.like_users.all %}
          <i id="like-btn" data-article-id="{{ article.pk }}" class="bi-suit-heart-fill"></i>
      {% else %}
          <i id="like-btn" data-article-id="{{ article.pk }}" class="bi-suit-heart"></i>
      {% endif %}
  {% else %}
    <p>좋아요 표시를 하려면 로그인이 필요합니다.</p>
  {% endif %}
  <p id="like-count">
    {{ article.like_users.count }}</p>
  {% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" height="300">
  {% endif %}
  {% if request.user == article.user %}
    <div class="d-flex justify-content-end">
      <a class='btn btn-danger me-2' href="{% url 'articles:update' article.pk %}">수정하기</a>
      <form action="{% url 'articles:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">삭제하기</button>
      </form>
    </div>
  {% endif %}

  <h4>댓글</h4>
  <form id="comment-form" data-article-id="{{ article.pk }}">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    {% bootstrap_button content="ok" button_type="submit" button_class="btn-danger col-3" %}
  </form>
  <hr>
  <p>{{ comments.count }}개의 댓글이 있습니다.</p>
  <div id="comments">
    {% for comment in comments %}
      <p> {{ comment.user.username }} | {{ comment.content }}</p>
      <form action="{% url 'articles:comments_delete' article.pk comment.pk %}">
        {% csrf_token %}
        <input type="submit" value="delete">
      </form>
      <hr>    
    {% empty %}
      <p>댓글이 없어요 ㅠ_ㅠ</p>
    {% endfor %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // 1. 좋아요 버튼
    const likeBtn = document.querySelector('#like-btn')
    // 2. 좋아요 버튼 클릭하면 함수 실행
    likeBtn.addEventListener('click', function (event){
      // 서버로 비동기 요청을 하고 싶음
      console.log(event.target.dataset)
      axios({
        method: 'get',
        url: `/articles/${event.target.dataset.articleId}/like/` //서버에 요청 보냈고, 
      })
      .then(response => {
        console.log(response)
        console.log(response.data)
        if (response.data.isLiked === true) {
         // event.target.classList.toggle('bi-heart')
         // event.target.classList.toggle('bi-heart-fill')
         event.target.classList.add('bi-suit-heart-fill')
         event.target.classList.remove('bi-suit-heart')
        } else {
          event.target.classList.add('bi-suit-heart')
          event.target.classList.remove('bi-suit-heart-fill')
        }
        const likeCount = document.querySelector('#like-count')
        likeCount.innerText = response.data.likeCount
      }) // 돌아오면 어떤걸 하고 싶은가?
    })
  </script>
  <script>
    // 댓글!!
    // 1. 댓글폼
    const commentForm = document.querySelector('#comment-form')
    // 2. 제출하면 함수 실행
    // csrf
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    commentForm.addEventListener('submit', function(event){
      event.preventDefault();
      axios({
        method: 'post',
        url: `/articles/${event.target.dataset.articleId}/comments/`,
        headers: {'X-CSRFToken': csrftoken},
        data: new FormData(commentForm) // 폼에 있는 정보를 data로 넘겨줄 수 있도록 변환
      })
      .then(response => {
        console.log(response.data)
        // 댓글을 추가하는 로직
        const comments = document.querySelector('#comments')
        const p = document.createElement('p')
        p.innerText = `${response.data.userName} | ${response.data.content}`
        const hr = document.createElement('hr')
        comments.append(p, hr) 
        commentForm.reset()
      })
    })
  </script>
{% endblock %}
